// import poppins font all familes
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #e9e9e9;
  #nav-open {
    display: none;
  }

  .logo {
    font-size: 22px;
    padding-left: 20px;
    width: 200px;
    font-family: "DIN Next Stencil";

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 40px;
    }
  }

  .nav-opener {
    display: none;
  }
  .mobilenav {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: #575757;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
  }
  .functions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    .user-icon {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    ion-icon {
      font-size: 20px;
      margin: 0 10px;
    }

    .cart-icon {
      position: relative;

      .count {
        position: absolute;
        top: -5px;
        right: 5px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #141414;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
  }
}

.coffee-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 300px;
  width: 250px;

  padding: 0 20px;
  border-radius: 5px;

  margin: 0 20px;

  background: #ffffff;
  img {
    height: 120px;
  }
  button {
    height: 30px;
    padding: 0 20px;
    border: none;
    margin: 15px 0;
    background: #532d28;
    color: #fff;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #532d28;
  }

  p {
    font-size: 14px;
    color: #575757;
    text-align: center;
  }
}

.prod-card {
  height: 350px;
  width: 250px;

  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-left: 20px;
  margin-bottom: 20px;

  cursor: pointer;

  &:hover {
    .img {
      img {
        transform: scale(1.1) rotateZ(-3deg);
      }
    }
  }

  .img {
    height: 200px;
    width: 100%;
    background: #c78061;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition: 0.3s;
      height: 80%;
    }
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .name {
    font-weight: 600;
    padding: 5px 10px;
    padding-top: 10px;
    width: 100%;
  }

  p {
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    color: #575757;
    height: 42px;
  }

  .tags {
    display: flex;
    align-items: center;
    width: 100%;

    .tag {
      height: 20px;
      background: #141414;
      color: #ffffff;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      border-radius: 3px;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }

  .price {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .cost {
      padding: 5px;
    }

    .weight {
      border: none;
      background: #ececec;
      color: #000000;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}

.app {
  height: 100vh;
  width: 100%;
  .right-img {
    bottom: 100px;
    left: -40px;
    height: 350px;
    position: absolute;
    transform: rotateZ(-10deg);
  }
  .left-img {
    top: 100px;
    right: -40px;
    height: 350px;
    position: absolute;
    transform: rotateZ(-190deg);
  }
  .title {
    position: relative;
    padding-top: 70px;
    height: 80%;
    background: url("/bg.png");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;

    .text {
      padding: 0 20px;
      width: 30%;
      span {
        font-size: 48px;
        font-weight: 600;
        color: #532d28;
        font-family: "DIN Next Stencil";
        p {
          font-size: 48px;
        }
      }

      p {
        font-size: 14px;
        margin: 15px 0;
      }

      button {
        height: 40px;
        padding: 0 30px;
        border: none;
        margin: 15px 0;
        background: #532d28;
        color: #fff;
      }
    }

    .image {
      height: 60%;
      img {
        height: 100%;
      }
    }
  }

  .category {
    background: url("bg.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 24px;
      font-weight: 400;
      color: #532d28;
      margin: 10px 0;
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.shop {
  padding: 20px 0;
  padding-top: 70px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 90%;
      border: none;
      border-radius: 20px;
      height: 40px;
    }
  }

  .sidebar {
    height: 100vh;
    width: 250px;
    background: #e9e9e9;
    padding: 0 20px;
    padding-top: 70px;
    .filters {
      span {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: #575757;
        margin: 10px 0;
      }
      .category {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .field {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 5px 0;
          input {
            width: 15px;
            height: 15px;
          }
          label {
            font-size: 14px;
            color: #575757;
          }
        }
      }
    }
  }
  .container {
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: scroll;
    padding-top: 70px;
    background: #e9e9e9;
  }
  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    height: auto;
  }
}

.product {
  height: 100vh;
  width: 100%;

  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff00;
    // align-items: center;
    .image {
      width: auto;
      padding: 0 20px;
      height: 80%;
      width: 500px;

      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      box-shadow: 15px 15px 25px 0px rgba(99, 99, 99, 0.75);

      img {
        height: 60%;
        object-fit: cover;
      }
    }

    .description {
      width: calc(60% - 10px);
      max-width: 500px;
      height: 80%;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
      padding: 20px 40px;
      background: #303030;
      color: #ffffff;
      position: relative;

      box-shadow: 15px 15px 25px 0px rgba(99, 99, 99, 0.75);
      .reviews {
        height: 500px;
        overflow-y: scroll;
      }
      .rev {
        height: auto;
        .review {
          margin-bottom: 15px;
          .details {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
              font-size: 16px;
              font-weight: 600;
              color: #ffffff;
            }
            .date {
              font-size: 12px;
              color: #ffffff;
            }
          }

          .rating {
            color: #ffe23e;
          }
        }
      }
      .tags {
        display: flex;
        align-items: center;
        width: 100%;

        .tag {
          height: 20px;
          background: #ffffff;
          color: #141414;
          padding: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          border-radius: 3px;
          margin: 10px 0;
          margin-right: 10px;
          text-transform: uppercase;
        }
      }

      .ratings {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .star {
          font-size: 16px;
          margin-right: 5px;
          background: #000000;
          color: #e9e9e9;
          border-radius: 5px;
          padding: 0 5px;

          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .tabs {
        position: absolute;
        top: 30px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-right: 10px;
          height: 30px;
          cursor: pointer;
        }

        .selected {
          border-bottom: 2px solid #ffe23e;
        }
      }
      // .sep {
      //   height: 2px;
      //   background: #e0e0e0;
      //   width: 100%;
      //   margin: 10px 0;
      // }
      .sub {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 7px;
        margin-top: 15px;
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          width: 40%;
          height: 50px;
          border-radius: 25px;
          border: none;
          background: #ffe23e;
          color: #000000;
          margin: 20px 0;
          cursor: pointer;
        }
      }
    }
  }
}

.profile {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    width: 60%;
    background: #ffffff;
    height: 80%;
  }
}

.sign-in {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 500px;
    height: 600px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .register,
    .signin {
      transition: 0.3s;
      padding: 0 40px;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;

      h1 {
        font-size: 36px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 10px;

        padding: 0 35px;
      }

      form {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;

        width: 100%;
        padding: 0 35px;

        input {
          height: 45px;
          border: none;
          background: #eeeeee;

          padding: 0 20px;
          outline: none;
          border-radius: 20px;

          margin-bottom: 15px;
        }

        button {
          height: 45px;
          border: none;
          background: #ffe23e;
          color: #141414;
          border-radius: 20px;
          margin-bottom: 15px;
          cursor: pointer;
          font-weight: 600;
        }
      }

      p {
        font-size: 12px;
        span {
          color: #ffe23e;
        }
      }
    }

    .signin {
      transform: rotateY(180deg);
    }

    .signin-flipped {
      transform: rotateY(0deg);
    }

    .register-flipped {
      transform: rotateY(180deg);
    }
  }
}

.cart {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 80%;
    max-width: 1000px;
    height: 80%;

    background: #ffffff;
    display: flex;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h1 {
      width: 80%;
      font-weight: 400;
      margin: 15px 0;
    }

    .cart-holder {
      height: 600px;
      overflow-y: scroll;
    }

    .total {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      p {
        font-size: 20px;
        padding-bottom: 10px;
      }

      .price {
        font-size: 20px;
        font-weight: 600;
        color: #141414;

        padding: 0 20px 10px 10px;
        // width: 50px;
      }
    }

    .cart-item {
      width: 100%;
      min-width: 600px;
      max-width: 800px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid #e0e0e0;

      .img {
        height: 100%;
        width: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 80%;
        }
      }

      .desc {
        // width: 100%;
        height: 100%;

        width: 600px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .name {
          font-size: 18px;
          font-weight: 600;
          color: #141414;
          width: 100%;
        }

        .description {
          font-size: 14px;
          font-weight: 400;
          color: #141414;
          width: 100%;
        }

        .price {
          font-size: 16px;
          font-weight: 600;
          color: #141414;
          width: 100%;
        }

        .amount {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
        .qty {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100px;
          height: 25px;
          border-radius: 5px;
          overflow: hidden;

          .value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 25px;

            border: 1px solid #141414;
            // border-radius: 5px;
          }
          button {
            width: 60px;
            height: 30px;
            border: none;
            background: #141414;
            color: #ffffff;
            cursor: pointer;
          }
        }
        .price {
          font-size: 18px;
          font-weight: 600;
          color: #141414;
          margin-left: 20px;
          width: 50px;
          text-align: right;
        }
      }
    }
  }

  .checkoutButton {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #ffe23e;
    color: #000000;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}

@media only screen and (max-width: 768px) {
  #root {
    padding-right: 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    margin: 0;
    padding: 0;
    .nav-opener {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      font-size: 24px;
      margin: 0 10px;
    }

    .logo {
      width: 200px;
      flex: 1;
      font-size: 18px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .user-icon-wrap {
      display: none;
    }

    ul {
      display: none;
    }
    .mobilenav {
      width: 100%;
      position: absolute;
      top: -100vh;
      transition: 0.3s;

      text-transform: uppercase;
      font-size: 18px;

      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background: #e9e9e9;
      height: calc(100vh - 70px);
      a {
        height: 100%;
        width: 100%;
      }
    }

    #nav-open:checked ~ .mobilenav {
      top: 70px;
    }
  }
  .app {
    .right-img {
      display: none;
    }
    .left-img {
      display: none;
    }
    .title {
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      .text {
        width: 80%;
        padding: 0 20px;
        span {
          font-size: 36px;
          p {
            font-size: 36px;
          }
        }
      }
      .image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
        }
      }
    }

    .category {
      height: auto;
      padding: 20px 0;
      .cards {
        flex-direction: column;
        .coffee-card {
          margin-bottom: 20px;
        }
      }
    }
  }

  .shop {
    flex-direction: column;
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px 0;
      .filters {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 0 20px;

        .category {
          flex-direction: column;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .field {
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            margin: 5px 0;
            input {
              width: 15px;
              height: 15px;
            }
            label {
              font-size: 14px;
              color: #575757;
              width: 100%;
            }
          }
        }
      }
    }
    .container {
      width: 100%;
      padding: 20px 0;
    }
  }

  .prod-card {
    flex-direction: row;
    height: 150px;
    width: 90%;
    margin: 0;
    margin-bottom: 10px;

    .img {
      height: 150px;
      width: 125px;
      img {
      }
    }

    .details {
      width: calc(100% - 125px);

      font-size: 14px;
    }
  }

  .product {
    height: auto;
    .container {
      flex-direction: column;
      .image {
        width: 100%;
        height: 300px;
        img {
          height: 100%;
        }
      }

      * {
        box-shadow: none !important;
      }
      .description {
        width: 100%;
        height: auto;
        padding: 20px 20px;
        padding-top: 60px;
        .tabs {
          top: 10px;
          flex-direction: row;
          width: 100%;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .cart {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    .container {
      width: calc(100% - 20px);
      height: auto;
      flex-direction: column;

      .cart-holder {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .cart-item {
        height: 150px;
        min-width: 150px;
        width: calc(100% - 20px);
        flex-direction: row;

        .img {
          height: 150px;
          width: 120px;
          img {
            height: 70%;
          }
        }
        .desc {
          width: calc(100% - 150px);
          height: 150px;
          padding: 0 20px;

          .name {
            font-size: 16px;
          }
          .description {
            font-size: 14px;
            display: none;
          }
          .price {
            font-size: 16px;
            padding: 0;
            margin: 0;
          }
          .amount {
            flex-direction: column;
            .qty {
              width: 100%;
              margin-bottom: 10px;
            }
            .price {
              margin-left: 0;
              width: 100%;
              text-align: left;
            }
          }
        }
      }
    }

    .checkoutButton {
      width: 80%;
      height: 50px;
      border-radius: 25px;
      border: none;
      background: #ffe23e;
      color: #000000;
      margin: 20px 0;
      cursor: pointer;
    }
  }

  .sign-in {
    .container {
      width: calc(100% - 20px);

      flex-direction: column;
      .register,
      .signin {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        h1 {
          font-size: 24px;
        }
        form {
          width: 100%;
          input {
            height: 40px;
          }
          button {
            height: 40px;
          }
        }
      }
    }
  }
}
