// import poppins font all familes
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #e9e9e9;
  #nav-open {
    display: none;
  }

  .logo {
    font-size: 22px;
    padding-left: 20px;
    width: 200px;
    font-family: "DIN Next Stencil";

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 40px;
    }
  }

  .nav-opener {
    display: none;
  }
  .mobilenav {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin: 0 10px;
      a {
        text-decoration: none;
        color: #575757;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
  }
  .functions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    .user-icon {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
    }

    ion-icon {
      font-size: 20px;
      margin: 0 10px;
    }

    .cart-icon {
      position: relative;

      .count {
        position: absolute;
        top: -5px;
        right: 5px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #141414;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
  }
}

.coffee-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 300px;
  width: 250px;

  padding: 0 20px;
  border-radius: 5px;

  margin: 0 20px;

  background: #ffffff;
  img {
    height: 120px;
  }
  button {
    height: 30px;
    padding: 0 20px;
    border: none;
    margin: 15px 0;
    background: #532d28;
    color: #fff;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    color: #532d28;
  }

  p {
    font-size: 14px;
    color: #575757;
    text-align: center;
  }
}

.prod-card {
  height: 500px;
  width: 350px;

  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-left: 20px;
  margin-bottom: 20px;

  cursor: pointer;
  position: relative;

  .outofstock {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #ecececad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    z-index: 1;
  }

  &:hover {
    .img {
      img {
        transform: scale(1.1);
      }
    }
  }

  .img {
    height: 350px;
    width: 100%;
    background: #c78061;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      transition: 0.3s;
      height: 80%;
    }
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .name {
    font-weight: 600;
    padding: 5px 10px;
    padding-top: 10px;
    width: 100%;
  }

  p {
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    color: #575757;
    height: 42px;
  }

  .tags {
    display: flex;
    align-items: center;
    width: 100%;

    .tag {
      height: 20px;
      background: #141414;
      color: #ffffff;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      border-radius: 3px;
      margin-left: 10px;
      text-transform: uppercase;
    }
  }

  .price {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    .cost {
      padding: 5px;
    }

    .weight {
      border: none;
      background: #ececec;
      color: #000000;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
    }
  }
}

.app {
  height: 100vh;
  width: 100%;
  .right-img {
    bottom: 100px;
    left: -40px;
    height: 350px;
    position: absolute;
    transform: rotateZ(-10deg);
  }
  .left-img {
    top: 100px;
    right: -40px;
    height: 350px;
    position: absolute;
    transform: rotateZ(-190deg);
  }
  .title {
    position: relative;
    padding-top: 70px;
    height: 80%;
    background: url("/bg.png");
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;

    .text {
      padding: 0 20px;
      width: 30%;
      span {
        width: 90%;

        font-size: 48px;
        font-weight: 600;
        color: #532d28;
        font-family: "DIN Next Stencil";
        p {
          font-size: 48px;
        }

        img {
          width: 90%;
        }
      }

      p {
        font-size: 14px;
        margin: 15px 0;
      }

      button {
        height: 40px;
        padding: 0 30px;
        border: none;
        margin: 15px 0;
        background: #532d28;
        color: #fff;
      }
    }

    .image {
      height: 60%;
      img {
        height: 100%;
      }
    }
  }

  .category {
    background: url("bg.png");
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 24px;
      font-weight: 400;
      color: #532d28;
      margin: 10px 0;
    }

    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

.shop {
  padding: 20px 0;
  padding-top: 70px;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-bottom: 0;

  .input {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      width: 90%;
      border: none;
      border-radius: 20px;
      height: 40px;
    }
  }

  .container {
    width: calc(100%);
    // height: 100vh;
    height: auto;
    overflow-y: scroll;
    padding-top: 10px;
    background: #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 30px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 90%;
    min-height: 100vh;
    height: auto;
  }

  .some {
    height: 300px;
    width: 100%;
  }
}

.product {
  height: 100vh;
  width: 100%;

  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    height: 90%;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #ffffff00;
    // align-items: center;
    .image {
      width: auto;
      padding: 0 20px;
      height: 80%;
      width: 500px;

      display: flex;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      box-shadow: 15px 15px 25px 0px rgba(99, 99, 99, 0.75);

      img {
        height: 60%;
        object-fit: cover;
      }
    }

    .description {
      width: calc(60% - 10px);
      max-width: 500px;
      height: 80%;
      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
      padding: 20px 40px;
      background: #303030;
      color: #ffffff;
      position: relative;

      box-shadow: 15px 15px 25px 0px rgba(99, 99, 99, 0.75);
      .reviews {
        height: 500px;
        overflow-y: scroll;
        margin-top: 30px;
      }
      .rev {
        height: auto;
        .review {
          margin-bottom: 15px;
          .details {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .name {
              font-size: 16px;
              font-weight: 600;
              color: #ffffff;
            }
            .date {
              font-size: 12px;
              color: #ffffff;
            }
          }

          .rating {
            color: #ffe23e;
          }
        }
      }
      .tags {
        display: flex;
        align-items: center;
        width: 100%;

        .tag {
          height: 20px;
          background: #ffffff;
          color: #141414;
          padding: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          border-radius: 3px;
          margin: 10px 0;
          margin-right: 10px;
          text-transform: uppercase;
        }
      }

      .ratings {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .star {
          font-size: 16px;
          margin-right: 5px;
          background: #000000;
          color: #e9e9e9;
          border-radius: 5px;
          padding: 0 5px;

          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }

      .tabs {
        position: absolute;
        top: 5px;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
          margin-right: 10px;
          height: 30px;
          cursor: pointer;
        }

        .selected {
          border-bottom: 2px solid #ffe23e;
        }
      }
      // .sep {
      //   height: 2px;
      //   background: #e0e0e0;
      //   width: 100%;
      //   margin: 10px 0;
      // }
      .sub {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 7px;
        margin-top: 15px;
      }

      .buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
          width: 40%;
          height: 50px;
          border-radius: 25px;
          border: none;
          background: #ffe23e;
          color: #000000;
          margin: 20px 0;
          cursor: pointer;
        }
      }
    }
  }
}

.profile {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    width: 70%;
    background: #ffffff;
    height: 80%;

    display: flex;

    justify-content: center;
    align-items: center;
    position: relative;

    border-radius: 10px;
    border: 2px solid #e0e0e0;
    max-width: 900px;

    .tabs {
      position: absolute;
      top: 30px;
      left: 120px;
      transform: translate(-50%, 0);
      width: 200px !important;
      height: 50px;

      display: flex;
      justify-content: center;
      align-items: center;
      // border-radius: 0 0 10px 10px;

      border-top: 0;
      // background: #e9e9e9;
      overflow: hidden;
      div {
        height: 100%;
        width: 50%;
        background: transparent;
        padding: 0;
        transition: 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        &:hover {
          background: #f2f2f2;
        }
      }

      .selected {
        // background: #d7d7d7;
        border-bottom: 3px solid #ffe23e;
      }
    }

    .profile-info {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .margin {
        margin-top: 20px;
      }

      h3 {
        width: 80%;
      }

      button {
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border: none;
        background: #ffe23e;
        color: #000000;
        margin: 20px 0;
        cursor: pointer;
      }

      .field {
        width: 80%;

        label {
          font-size: 14px;
          color: #575757;
        }
        input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          outline: none;
          border: none;
          border: 1px solid #b4b4b4;
          padding: 10px;
        }
      }

      .name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        h1 {
          padding: 0 20px;
          width: calc(100% - 100px);
        }
        .circle {
          background: #b3b3b3;
          height: 100px;
          width: 100px;

          border-radius: 50px;

          font-size: 58px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .orders {
      width: 90%;
      height: calc(100% - 120px);
      margin-top: 70px;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-y: scroll;

      h3 {
        width: 90%;
        font-size: 20px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 20px;
      }

      .order {
        height: auto;

        transition: 0.3s;
        width: 90%;
        background: #fafafa;
        padding: 10px 0;

        margin-bottom: 15px;

        border-radius: 10px;
        border: 2px solid #e0e0e0;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 25px 0;

        .product-info {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 0 20px;
          width: calc(100%);

          .items {
            width: 90%;
            display: flex;

            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            height: 0;
            opacity: 0;
            p {
              font-size: 14px;
              color: #575757;
            }

            .item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .image {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  height: 80%;
                }
              }
              .details {
                width: 70%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p:nth-child(1) {
                  font-size: 16px;
                }
              }
            }
          }

          .expanded-items {
            height: auto;
            opacity: 1;
          }

          .titular {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            p {
              font-size: 16px;
              color: #575757;
            }
          }

          .order-status {
            width: 90%;
            font-size: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
            }
          }

          .status-big {
            width: 90%;
            height: 50px;

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .line {
              width: 100%;
              height: 5px;
              background: #bababa;
              border-radius: 2.5px;
              position: relative;
            }
            .dots {
              width: 100%;
              position: absolute;
              display: flex;
              justify-content: space-around;
              align-items: center;
              z-index: 1;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);

              .dot {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: #c5c5c5;
                border: 3px solid #dcdcdc;
                position: relative;
                p {
                  font-size: 12px;
                  width: 100px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  position: absolute;
                  left: 7px;
                  top: 20px;
                  transform: translate(-50%, 0);
                }
              }

              .blue {
                border-color: #27a5ff;
                background: #27a5ff;
              }
            }
            .progress {
              width: 0%;
              height: 5px;
              background: #27a5ff;
              border-radius: 2.5px;
              position: absolute;
              top: 0;
              left: 0;
            }

            .packing {
              width: 25%;
            }

            .shipped {
              width: 50%;
            }

            .out {
              width: 75%;
            }

            .delivered {
              width: 100%;
            }
          }
        }

        // .order-status {
        //   height: 50px;
        //   width: 90%;

        //   display: flex;
        //   justify-content: center;
        //   align-items: center;

        //   position: relative;

        //   .line {
        //     height: 5px;
        //     width: 90%;
        //     background: #adadad;
        //   }

        //   .point {
        //     height: 15px;
        //     width: 15px;
        //     border-radius: 50%;
        //     background: #d3d3d3;
        //     top: 50%;
        //     transform: translate(-50%, -50%);

        //     position: absolute;
        //     &:nth-child(1) {
        //       left: 0;
        //     }
        //     &:nth-child(2) {
        //       left: 50%;

        //     }
        //     &:nth-child(3) {
        //       right: -3px;
        //       transform: translate(-100%, -50%);
        //     }

        //   }
        // }
      }

      .expand {
        height: auto;
      }
    }
  }
}

.sign-in {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: 500px;
    height: 600px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    .register,
    .signin {
      transition: 0.3s;
      padding: 0 40px;
      backface-visibility: hidden;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      top: 0;
      left: 0;

      h1 {
        font-size: 36px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 10px;

        padding: 0 35px;
      }

      form {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;

        width: 100%;
        padding: 0 35px;

        input {
          height: 45px;
          border: none;
          background: #eeeeee;

          padding: 0 20px;
          outline: none;
          border-radius: 20px;

          margin-bottom: 15px;
        }

        button {
          height: 45px;
          border: none;
          background: #ffe23e;
          color: #141414;
          border-radius: 20px;
          margin-bottom: 15px;
          cursor: pointer;
          font-weight: 600;
        }
      }

      p {
        font-size: 12px;
        span {
          color: #ffe23e;
        }
      }
    }

    .signin {
      transform: rotateY(180deg);
    }

    .signin-flipped {
      transform: rotateY(0deg);
    }

    .register-flipped {
      transform: rotateY(180deg);
    }
  }
}

.cart {
  height: 100vh;
  width: 100%;
  padding-top: 70px;
  background: #e9e9e9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    width: calc(100% - 40px);
    max-width: 1200px;
    height: 90%;

    background: #ffffff;
    display: flex;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .summary {
      width: 30%;
      height: 100%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;

      .heading {
        font-weight: 600;
        margin-top: 40px;
        padding-bottom: 20px;
        font-size: 24px;
        width: 80%;
        border-bottom: 1px solid #e4e4e4;
      }

      .itemscount {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #141414;
        margin-top: 20px;

        text-transform: uppercase;
      }

      .delivery {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        color: #141414;
        margin-bottom: 10px;
        margin-top: 5px;

        // padding: 10px;
        border-radius: 10px;
        padding-bottom: 40px;
        border-bottom: 1px solid #e4e4e4;

        span {
          transition: 0.3s;
          color: #575757;
          font-weight: 400;
          width: 100%;
          border-radius: 10px;
          border: 1px solid #e0e0e0;
          display: flex;
          justify-content: center;
          // align-items: center;
          flex-direction: column;

          padding: 10px;

          font-size: 12px;
          margin-top: 5px;
          .between {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }

        .selected {
          border-color: #ffe23e;
          color: #141414;
          background: #ffe23e66;
        }
      }

      .totalcost {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #141414;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .checkoutButton {
        width: 80%;
        height: 50px;
        border-radius: 10px;
        border: none;
        background: #ffe23e;
        color: #000000;
        margin: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .cart-holder {
      height: 100%;
      width: 70%;
      overflow-y: scroll;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
      .heading {
        font-weight: 600;
        margin-top: 40px;
        padding-bottom: 20px;
        font-size: 24px;
        width: 80%;
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .titles {
        width: 80%;
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr;
        // padding: 0 20px;
        font-size: 12px;
        font-weight: 600;
        color: #575757;
        margin-bottom: 10px;
        margin: 20px 0;
        text-transform: uppercase;

        p {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .proddet {
          justify-content: flex-start;
        }
      }

      .contn {
        width: 80%;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        color: #532d28;
        margin: 20px 0;
        margin-bottom: 50px;
        text-decoration: none;

        ion-icon {
          margin-right: 10px;
        }
      }
    }

    .cart-item {
      width: 80%;

      height: 100px;
      display: grid;
      grid-template-columns: 4fr 2fr 1fr 1fr;

      .details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        .img {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 80%;
          }
        }
        .text {
          height: 80px;
          width: calc(100% - 100px);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .name {
            font-weight: 600;
            font-size: 14px;
          }

          .desc {
            font-size: 12px;
            color: #575757;
          }
        }
      }

      .qty {
        display: flex;
        justify-content: center;
        // align-items: center;
        padding-top: 10px;
        height: 100%;
        span {
          width: 50px;
          height: 30px;
          border: 1px solid #e0e0e0;
          border-radius: 5px;
          text-align: center;
          outline: none;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }

        button {
          border: none;
          outline: none;
          background: transparent;
          font-size: 16px;
          height: 30px;
          width: 30px;
        }
      }

      .price {
        display: flex;
        justify-content: center;
        // align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 14px;
        padding-top: 10px;
      }
      .total {
        display: flex;
        justify-content: center;
        // align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 14px;
        padding-top: 10px;
      }
    }
  }

  .checkoutButton {
    width: 50%;
    height: 50px;
    border-radius: 25px;
    border: none;
    background: #ffe23e;
    color: #000000;
    margin: 20px;
    font-weight: 600;
    cursor: pointer;
  }
}

.checkout {
  height: 100vh;
  background: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  .container {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    max-width: 1200px;
    background: #ffffff;

    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: row;

    p {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
    }

    .col {
      width: 47%;
      display: flex;
      // justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .field {
      width: calc(100% - 30px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin: 5px 0;
      input,
      textarea {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        outline: none;
        border: none;
        border: 1px solid #b4b4b4;
        padding: 10px;
      }

      textarea {
        height: 100px;
      }
      label {
        width: 100%;
        font-size: 14px;
        color: #575757;
      }
    }

    .bill {
      width: calc(100% - 40px);
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .item {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      border: 1px solid #b4b4b4;
      padding: 10px 0;
      border-radius: 10px;
    }

    .buttons {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        width: 50%;
        height: 50px;
        border-radius: 25px;
        border: none;
        background: #ffe23e;
        color: #000000;
        margin: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #root {
    padding-right: 0px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    margin: 0;
    padding: 0;
    .nav-opener {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      font-size: 24px;
      margin: 0 10px;
    }

    .logo {
      width: 200px;
      flex: 1;
      font-size: 18px;
      padding-left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .user-icon-wrap {
      display: none;
    }

    ul {
      display: none;
    }
    .mobilenav {
      width: 100%;
      position: absolute;
      top: -100vh;
      transition: 0.3s;

      text-transform: uppercase;
      font-size: 16px;

      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      background: #e9e9e9;
      height: 200px;
      border-bottom: 2px solid #d7d7d7;
      a {
        height: 100%;
        width: 100%;
      }
    }

    #nav-open:checked ~ .mobilenav {
      top: 70px;
    }
  }
  .app {
    .right-img {
      display: none;
    }
    .left-img {
      display: none;
    }
    .title {
      flex-direction: column;
      height: auto;
      padding-bottom: 20px;
      .text {
        width: 80%;
        padding: 0 20px;
        span {
          font-size: 36px;
          p {
            font-size: 36px;
          }
        }
      }
      .image {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 100%;
        }
      }
    }

    .category {
      height: auto;
      padding: 20px 0;
      .cards {
        flex-direction: column;
        .coffee-card {
          margin-bottom: 20px;
        }
      }
    }
  }

  .shop {
    flex-direction: column;
    .sidebar {
      width: 100%;
      height: auto;
      padding: 20px 0;
      .filters {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding: 0 20px;

        .category {
          flex-direction: column;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .field {
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            margin: 5px 0;
            input {
              width: 15px;
              height: 15px;
            }
            label {
              font-size: 14px;
              color: #575757;
              width: 100%;
            }
          }
        }
      }
    }
    .container {
      width: 100%;
      padding: 20px 0;

      .cards {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }

  .prod-card {
    flex-direction: row;
    height: 150px;
    min-height: 150px;
    width: 90%;
    margin: 0;
    margin-bottom: 10px;

    .img {
      height: 150px;
      width: 125px;
      img {
      }
    }

    .details {
      width: calc(100% - 125px);

      font-size: 14px;
    }
  }

  .product {
    height: auto;
    .container {
      flex-direction: column;
      .image {
        width: 100%;
        height: 300px;
        img {
          height: 100%;
        }
      }

      * {
        box-shadow: none !important;
      }
      .description {
        width: 100%;
        height: auto;
        padding: 20px 20px;
        padding-top: 60px;
        .tabs {
          top: 10px;
          flex-direction: row;
          width: 100%;
          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .cart {
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    .container {
      width: calc(100% - 20px);
      height: auto;
      display: flex;
      flex-direction: column;

      .cart-holder {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .titles {
          display: none;
        }

        .heading {
          font-size: 20px;
          margin-bottom: 15px;
        }
        .cart-item {
          height: 130px;

          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;

          .details {
            height: 100px;
            width: 100%;
          }
          .qty {
            height: 30px;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .price {
            width: 20%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
          }

          .total {
            width: 20%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .summary {
        width: 100%;
        height: auto;
        .heading {
          font-size: 20px;
        }
        .delivery {
          flex-direction: column;
          width: 80%;
          span {
            width: 100%;
            margin: 5px 0;
          }
        }
        .checkoutButton {
          width: 80%;
          margin-top: 10px;
        }
      }
    }

    .checkoutButton {
      width: 80%;
      height: 50px;
      border-radius: 25px;
      border: none;
      background: #ffe23e;
      color: #000000;
      margin: 20px 0;
      cursor: pointer;
    }
  }

  .sign-in {
    .container {
      width: calc(100% - 20px);

      flex-direction: column;
      .register,
      .signin {
        width: 100%;
        height: 100%;
        padding: 0 20px;
        h1 {
          font-size: 24px;
        }
        form {
          width: 100%;
          input {
            height: 40px;
          }
          button {
            height: 40px;
          }
        }
      }
    }
  }

  .checkout {
    overflow-y: scroll;
    display: flex;
    padding: 20px 0;
    height: 100vh;
    padding-top: 70px;
    flex-direction: column;
    justify-content: flex-start;
    .container {
      flex-direction: column;

      display: flex;
      // justify-content: flex-start;
      align-items: center;
      height: auto;

      .col {
        width: 90%;
        .field {
          width: 100%;
        }

        .buttons {
          width: 100%;
          margin: 20px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            margin: 10px 0;
            padding: 0 10px;
            border-radius: 5px;
            width: 100%;
            font-size: 14px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
            font-weight: 400;
          }
        }
      }
      .bill {
        width: 100%;
      }
    }
  }

  .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .container {
      width: calc(100% - 20px);
      flex-direction: column;
      height: auto;
      padding: 20px 0;

      padding-top: 40px;

      .profile-info {
        width: 100%;
        padding-top: 70px;
        .name {
          width: 100%;
          h1 {
            width: 100%;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .circle {
            display: none;
          }
        }
        button {
          width: 80%;
        }
      }

      .orders {
        width: 95%;
        margin-top: 0px;
        h3 {
          width: 100%;

          margin-bottom: 15px;
        }

        .order {
          width: 100%;
          .product-info {
            width: 100%;
            .items {
              .item {
                .details {
                  p {
                    font-size: 14px !important;

                    &:nth-child(2) {
                      width: 60px;
                      display: flex;
                      justify-content: flex-end;
                      align-items: center;
                    }
                  }
                }
              }
            }
            .status-big {
              .dots {
                .dot {
                  p {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
